Papers/SFace:[[:space:]]An[[:space:]]Efficient[[:space:]]Network[[:space:]]for[[:space:]]Face[[:space:]]Detection
Papers/SFace:[[:space:]]An[[:space:]]Efficient[[:space:]]Network[[:space:]]for[[:space:]]Face[[:space:]]Detection[[:space:]]in[[:space:]]Large[[:space:]]Scale[[:space:]]Variations.pdf filter=lfs diff=lfs merge=lfs -text
